.light {
  width: 50px;
  height: 50px;
  margin: 2px;
  border: 1px solid #333;   /* normal border */
  cursor: pointer;
}

.light.on {
  background-color: yellow;
}

.light.off {
  background-color: black;
}

/* Use outline instead of border for hint */
.light.hint {
  outline: 3px solid red;   /* red outline drawn inside/outside without changing size */
  outline-offset: -3px;     /* moves outline inside the box */
}
